# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

tiny-url-service/target
tiny-url-service/bin

tiny-user-service/target
tiny-user-service/bin

tiny-gateway/target
tiny-gateway/bin

tiny-config-server/target
tiny-config-server/bin

tiny-discovery-server/target
tiny-discovery-server/bin
/.project
